# Server Configuration
PORT=3001

# Redis Configuration (Used by BullMQ queue)
# Defaults to localhost (which works for standard Redis or Redis running in WSL with auto-forwarding)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Database Configuration (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=kasane

# Local Storage Directory
# Path relative to backend / worker respectively, or absolute path.
LOCAL_STORAGE_DIR=./uploads
